{% extends 'layouts/main.twig' %}

{% block content %}
    
        <h1>Личный кабинет администратора</h1>
        <a href="/user/all?sortby=date">Пользователи</a>
        <a href="/user/orders?sortby=date">Заказы</a>
        <a href="/good/insert">Добавить товар</a>
        <a href="/user/exit">Выйти</a>
    
{% endblock %}